<li data-controller="todos-item"
    data-target="todos.todoItem"
    data-todos-item-locked="true"
    data-action="dblclick->todos-item#unlock">
  <%= form_with model: todo, data: {target: "todos-item.updateForm", type: 'html'} do |f| %>
    <%= f.hidden_field :id, data: {target: 'todos-item.id'} %>
    <%= label_tag nil do %>
      <%= f.check_box :completed, data: {action: "todos-item#check", target: "todos-item.completed"} %>
    <% end %>
    <%= f.text_field :name, data: {action: "blur->todos-item#lock", target: "todos-item.name"}, readonly: true %>
  <% end %>
  <%= link_to 'Destroy', todo, style: 'display: none;', data: {target: 'todos-item.destroy'}, method: :delete, remote: true %>
</li>