<div id="todos" data-controller="todos" data-todos-destroy-many-url="<%= destroy_many_todos_path %>">
  <%= form_with model: Todo.new, data: {target: "todos.addTodoForm", type: 'html'} do |f| %>
    <%= f.text_field :name, placeholder: "What u gonna do?", data: {target: "todos.newTodoName"} %>
    <span data-target="todos.errors"></span>
  <% end %>
  <ul data-target="todos.list">
    <%= render @todos %>
  </ul>
  <div>
    <div>Completed <span data-target="todos.completed"><%= Todo.completed.size %></span>/<span data-target="todos.all"><%= Todo.all.size %></span></div>
    <span>Show</span>
    <% ['All', 'Active', 'Completed'].each do |filter_name| %>
      <label>
        <input type="radio" name="filter" data-target="todos.filter" value="<%= filter_name.downcase %>"
               data-action="todos#applyFilter" <%= 'checked' if filter_name == 'All' %> /><%= filter_name %>
      </label>
    <% end %>
    <button data-action="todos#removeCompleted">Remove completed</button>
  </div>
</div>

